[buildout]
extends =
    http://zopefoundation.github.io/Zope/releases/master/versions-prod.cfg
develop = .
parts =
    test
    test_no_zsql
    zopepy
    sphinx
    tox


[test]
recipe = zc.recipe.testrunner
eggs =
    Products.CMFCore[zsql]


[test_no_zsql]
recipe = zc.recipe.testrunner
eggs =
    Products.CMFCore


[zopepy]
recipe = zc.recipe.egg
eggs =
    Products.CMFCore
interpreter = zopepy
scripts = zopepy


[sphinx]
recipe = zc.recipe.egg
eggs =
    Products.CMFCore
    Sphinx
    repoze.sphinx.autointerface
    pkginfo


[tox]
recipe = zc.recipe.egg
eggs = tox
